<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<!--main content start-->
<div layout:fragment="content">
  <script th:src="@{js/master.js}"></script>
  <script th:src="@{js/court.js}"></script>
<div class="container">
    <div class="wrapper">
      <link rel="stylesheet" th:href="@{css/game.css}">

    <h4>Games Manage</h4>
    <form method="post" action="#">
      <div class="form-control-fa ">
        <label for="name"></label>
        <input class="form-control" id="name" name="name" placeholder="Enter Name of the Day Type">
      </div>
      <br>
      <div class="form-field d-flex align-items-center">
        <label  for="code"></label>
        <input class="form-control" id="code" name="code" placeholder="Enter Code in caps for the Day Type max 5" maxlength="5" autocapitalize="characters">
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" id="clear" class="btn btn-primary" onclick="document.getElementById('inputText').value = ' ' " >Clear</button>
    </form>
        <div class="col-sm-6 col-lg-12 col-xr-20 offset-xl-2">
<br>
    <h4>Games</h4>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">code</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="game : ${games}">
        <td scope="col" th:text="${game.code}"></td>
        <td scope="col" th:text="${game.name}"></td>
        <td scope="col" > <p class="btn btn-danger" th:onclick="removeGames([[${game.id}]])">Delete</p></td>
      </tr>
      </tbody>
    </table>
        </div>

    </div>
</div>
  </div>
<!--main content end-->
</body>

</html>