  /* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff;
    right      : 100%;
    top       : 100%;
    position  : right;
    transform : translate(-50%, -50%);
}

.wrapper {
    max-width: 700px;
    min-height: 100px;
    margin: 5px auto;
    padding: 8px 8px 8px 8px;
    background-color: #fff;
    border-radius: 20px;
     right      : 100%;
     position  : right;
     text-algment:center;
     top :10%;
    transform : translate(55%, 55%);
<!--    box-shadow: 13px 13px 20px #fff, -13px -13px 20px #fff;-->
}
.scrolling-wrapper{
	overflow-x: auto;
}
.container .name {
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: blue;
}

.container .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #ooo;
<!--    padding: 10px 15px 10px 10px;-->
    /* border: 1px solid red; */
}

.container .form-field,#courtCode,#dayType,input#startHour,input#endHour,input#slotLength,#courtCodeMultiple,#dayTypeMultiple,input#startHourMultiple,input#endHourMultiple,input#slotLengthMultiple{
    padding-left: 10px;
    margin-bottom: 8px;
    border-radius: 15px;
    box-shadow: inset 8px 8px 8px lightblue, inset -8px -8px 8px lightblue;
}

.container .form-field .fas {
    color: #fff;
   left      : 100%;
    top       : 100%;
    position  : left;
    transform : translate(-50%, -50%);
}

.btn-primary {
    box-shadow: none;
    width: 30%;
    height: 40px;
    background-color: green;

    color: #fff;
    border-radius: 25px;
    gap :1px;
    box-shadow: 3px 3px 3px #fff,
<!--        -3px -3px 3px #fff;-->
    center-spacing: 2px;
}
.btn-secondary {
    box-shadow: none;
    width: 30%;
    height: 40px;
    background-color: green;
     float: auto-center;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #fff,
<!--        -3px -3px 3px #fff;-->
    center-spacing: 0.5px;
}
.btn-primary {
 margin-right: 10px;
   float: right;

}

.btn-secondary {
 margin-center: 100px;
   float: right;
}
<!--.wrapper .btn:hover {-->
<!--    background-color: #039BE5;-->
<!--}-->

.container {
    text-decoration: none;
    font-size: 0.8rem;
    color: #000000;


}

.container a:hover {
    color: black;

}

@media(max-width: 300px) {
    .wrapper {
    margin: 40px 50px;
    padding: 60px 15px 15px 15px;

    transform : translate(-50%, -50%);
    }
}