 /* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff;
    right      : 100%;
    top       : 100%;
    position  : right;
    transform : translate(-50%, -50%);
}

.wrapper {
    max-width: 380px;
    min-height: 100px;
    margin: 30px auto;
    padding: 8px 8px 8px 8px;
    background-color: #fff;
    border-radius: 10px;
     right      : 200%;
     position  : right;
     top :100%;
    transform : translate(40%, 40%);
    box-shadow: 13px 13px 20px #fff, -13px -13px 20px #fff;
}

.logo {
    width: 80px;
    margin: auto;
}

<!--.logo img {-->
<!--    width: 100%;-->
<!--    height: 80px;-->
<!--    object-fit: cover;-->
<!--    border-radius: 50%;-->
<!--    box-shadow: 0px 0px 3px #5f5f5f,-->
<!--        0px 0px 0px 5px #ecf0f3,-->
<!--        8px 8px 15px #a7aaa7,-->
<!--        -8px -8px 15px #fff;-->
<!--}-->

.container .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #fff;
}

.container .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #ooo;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.container .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px lightblue, inset -8px -8px 8px lightblue;
}

.container .form-field .fas {
    color: #fff;
   right      : 100%;
    top       : 100%;
    position  : right;
    transform : translate(-50%, -50%);
}

.btn-primary {
    box-shadow: none;
    width: 30%;
    height: 40px;
    background-color: green;

    color: #fff;
    border-radius: 25px;
    gap :1px;
    box-shadow: 3px 3px 3px #fff,
<!--        -3px -3px 3px #fff;-->
    center-spacing: 2px;
}
.btn-secondary {
    box-shadow: none;
    width: 30%;
    height: 40px;
    background-color: green;
     float: auto-center;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #fff,
<!--        -3px -3px 3px #fff;-->
    center-spacing: 0.5px;
}
.btn-primary {
 margin-right: 10px;
   float: right;

}

.btn-secondary {
 margin-center: 100px;
   float: right;
}

<!--.wrapper .btn:hover {-->
<!--    background-color: #039BE5;-->
<!--}-->

.container {
    text-decoration: none;
    font-size: 0.8rem;
    color: red;


}

.container a:hover {
    color: green;

}

@media(max-width: 300px) {
    .wrapper {
    margin: 40px 50px;
    padding: 60px 15px 15px 15px;

    transform : translate(-70%, -70%);
    }
}